#intro1, #intro2 {
    display: block;
    margin: 0 auto 20px; 
    width: 70%; 
    height: 70%; 
}

#message {
    display: block;
    margin: 0 auto 20px; 
    width: 40%; 
    height: 40%; 
}

#video_btn {
    display: block;
    margin: 0 auto 20px; 
    width: 20%; 
    height: 20%; 
}

.center-line {
    width: 400px;       /* 길이를 400px로 설정 */
    height: 1px;        /* 선의 두께를 얇게 설정 */
    background-color: #CCCCCC; /* 회색으로 설정 */
    margin: 0 auto;    /* 가운데 정렬을 위한 마진 설정 */
}


#mark {
    width: 20%; 
    height: 20%; 
}

.plan {
    display: flex;
    justify-content: center;
    align-items: center;
}

#price {
    width: 100%;  /* 원래 크기의 2/3 */
    height: auto;   /* 높이는 자동으로 조절되도록 설정 */
}

.outer-container {
    width: 160px; /* 360px * 2 */
    height: 260px; /* 237.75px * 2 */
    position: relative;
    overflow: hidden;
    background: #fff;
    margin: 10px;
}

.inner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 150px; /* 88.3325px * 2 */
    height: 230px; /* 158.25px * 2 */
    position: absolute;
    padding: 10px; /* 8.25px * 2 */
    border-radius: 6px; /* 3px * 2 */
    background: rgba(255,255,255,0);
    border: 0.5px solid #e5e7eb; /* 0.25px * 2 */
    box-shadow: 0px 10px 12.5px -2.5px rgba(0,0,0,0.1), 0px 4px 5px -3px rgba(0,0,0,0.1);
}

#sub_btn {
    display: block;
    margin: 0 auto; 
    width: 120px;
}